$fz: 14px;
$ff: 'Hind', sans-serif;
$fw: 'Montserrat', sans-serif;
$nav-bg: #212429;
$color-white: #fff;
$color-gray: #3c3c3c;
$main-bg: #f7f7f7;
$contact-bg: #f3f2f2;
$footer-bg: #212429;
$color-red: #ff0000;