.banner__carousel{
  position: relative;
}
.owl-carousel .owl-nav button.owl-prev{
  position: absolute;
  right: 35px;
  top: 145px;

  width: 50px;
  height: 50px;
  color: $color-white !important;
  font-size: 50px !important;
  transform: rotateZ(90deg);
}

.owl-carousel .owl-nav button.owl-next{
  position: absolute;
  right: 34px;
  top: 366px;

  width: 50px;
  height: 50px;
  color: $color-white !important;
  font-size: 50px !important;
  transform: rotateZ(90deg);
}